{#- Recursive macro for Table of Contents -#}
{%- macro categoryTOC(cats) -%}
{%- for cat in cats -%}
{%- if cat.items.length > 0 or cat.categories.length > 0 -%}
{{ "    " | repeat(cat.depth) }}- [{{ cat.title }}](#{{ cat.title | lower | replace(" ", "-") }}){% if cat.items.length > 0 %} ({{ cat.items.length }}){% endif %}
{% if cat.categories.length > 0 %}{{ categoryTOC(cat.categories) }}{% endif -%}
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}

{#- Recursive macro for Category content -#}
{%- macro categoryView(cats) -%}
{%- for cat in cats -%}
{%- if cat.items.length > 0 or cat.categories.length > 0 %}
#{{ "#" | repeat(cat.depth + 1) }} {{ cat.title }}
{% if cat.items.length > 0 -%}
{%- for item in cat.items %}
- [{{ item.name }}]({{ item.link }}) ({{ item.stars }} {{ item.language }}) - {{ item.summary }}
{%- endfor %}
{% endif -%}
{%- if cat.categories.length > 0 %}{{ categoryView(cat.categories) }}{% endif -%}
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}

# {{ config.project.name }}

> **Note:** {{ config.project.note }}

{{ config.project.description | safeHTML }}

Table of Contents:
{{ categoryTOC(categories) }}

{{ categoryView(categories) }}

## License

[<img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/cc-zero.svg">](https://creativecommons.org/publicdomain/zero/1.0/)
